[Unit]
Description=CraftBeer Pi
Documentation=https://github.com/craftbeerpi/craftbeerpi4
After=network.target

[Service]
Restart=always
User=craftbeerpi
Environment="HOME=/srv/craftbeerpi"
ExecStartPre="/usr/local/sbin/cbpi-prestart.sh"
ExecStart=/bin/cbpi start
WorkingDirectory=/srv/craftbeerpi
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
