[Unit]
Description = Accesspoint for CraftBeerPi
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device
ConditionPathExists=/srv/craftbeerpi/ap.conf

[Service]
Type=simple
ExecStart=/usr/sbin/hostapd /srv/craftbeerpi/ap.conf

[Install]
WantedBy=multi-user.target
